$clr-neutral-900: #163a34;
$clr-neutral-600: #395852;
$clr-neutral-300: #d0dcd9;
$neutral-200: #e0e6e3;
$neutral-100: #f6f5f1;
$neutral-0: #ffffff;

$orange: #fe9f6b;
$teal: #49ac9b;
$indigo: #697ddb;
